docker/node-red/flows.json
[
    {
        "id": "flow_principal",
        "type": "tab",
        "label": "Urgencias - Principal",
        "disabled": false,
        "info": "Flujo principal del Gemelo Digital de Urgencias"
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-urgencias",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "nodered/status",
        "birthQos": "0",
        "birthPayload": "online",
        "birthMsg": {},
        "closeTopic": "nodered/status",
        "closeQos": "0",
        "closePayload": "offline",
        "closeMsg": {},
        "willTopic": "nodered/status",
        "willQos": "0",
        "willPayload": "offline",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "comment_header",
        "type": "comment",
        "z": "flow_principal",
        "name": "═══ GEMELO DIGITAL URGENCIAS - A CORUÑA ═══",
        "info": "Sistema de integración MQTT → InfluxDB\n\nTopics:\n- urgencias/{hospital}/eventos/{tipo}\n- urgencias/{hospital}/stats\n- urgencias/coordinador/estado\n- urgencias/coordinador/alertas",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "comment_eventos",
        "type": "comment",
        "z": "flow_principal",
        "name": "──── EVENTOS DE PACIENTES ────",
        "info": "",
        "x": 170,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt_eventos",
        "type": "mqtt in",
        "z": "flow_principal",
        "name": "Eventos Pacientes",
        "topic": "urgencias/+/eventos/+",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "parse_evento"
            ]
        ]
    },
    {
        "id": "parse_evento",
        "type": "function",
        "z": "flow_principal",
        "name": "Parsear Evento",
        "func": "const parts = msg.topic.split('/');\nconst hospital = parts[1].toLowerCase();\nconst tipo_evento = parts[3];\nconst data = msg.payload;\n\n// Los datos vienen planos (no anidados en data.paciente)\nmsg.measurement = \"eventos_\" + hospital;\nmsg.payload = {\n    tipo_evento: tipo_evento,\n    nivel_triaje_nombre: String(data.nivel_triaje || \"\"),\n    patologia: String(data.patologia || \"no_especificada\"),\n    paciente_id: String(data.paciente_id || \"\"),\n    edad: Number(data.edad) || 0,\n    tiempo_total: Number(data.tiempo_total) || 0,\n    tiempo_espera: Number(data.tiempo_espera_atencion) || 0,\n    destino: String(data.destino || \"\"),\n    derivado_a: String(data.derivado_a || \"\"),\n    valor: 1\n};\n\nnode.status({fill:\"green\", shape:\"dot\", text: hospital + \" - \" + tipo_evento + \" (edad:\" + msg.payload.edad + \")\"});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "influx_eventos",
                "debug_eventos"
            ]
        ]
    },
    {
        "id": "debug_eventos",
        "type": "debug",
        "z": "flow_principal",
        "name": "Debug Eventos",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "influx_eventos",
        "type": "influxdb out",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "InfluxDB Eventos",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "urgencias",
        "bucket": "hospitales",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "comment_stats",
        "type": "comment",
        "z": "flow_principal",
        "name": "──── ESTADÍSTICAS HOSPITALES ────",
        "info": "",
        "x": 180,
        "y": 260,
        "wires": []
    },
    {
        "id": "mqtt_stats",
        "type": "mqtt in",
        "z": "flow_principal",
        "name": "Stats Hospitales",
        "topic": "urgencias/+/stats",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "parse_stats"
            ]
        ]
    },
    {
        "id": "parse_stats",
        "type": "function",
        "z": "flow_principal",
        "name": "Parsear Stats",
        "func": "// Extraer hospital del topic\nconst parts = msg.topic.split('/');\nconst hospital = parts[1].toLowerCase();\nconst data = msg.payload;\n\n// Measurement incluye hospital para poder agrupar\nmsg.measurement = \"stats_\" + hospital;\n\n// Todos los campos deben coincidir EXACTAMENTE con lo que envía simulador.py\nmsg.payload = {\n    // Boxes - forzar a entero\n    boxes_ocupados: Math.round(Number(data.boxes_ocupados) || 0),\n    boxes_totales: Math.round(Number(data.boxes_totales) || 0),\n    ocupacion_boxes: Number(data.ocupacion_boxes) || 0,\n    \n    // Observación - el simulador envía \"observacion_ocupadas\" (con 's')\n    observacion_ocupadas: Math.round(Number(data.observacion_ocupadas) || 0),\n    observacion_totales: Math.round(Number(data.observacion_totales) || 0),\n    ocupacion_observacion: Number(data.ocupacion_observacion) || 0,\n    \n    // Pacientes en espera\n    pacientes_en_espera_triaje: Math.round(Number(data.pacientes_en_espera_triaje) || 0),\n    pacientes_en_espera_atencion: Math.round(Number(data.pacientes_en_espera_atencion) || 0),\n    \n    // Tiempos\n    tiempo_medio_espera: Number(data.tiempo_medio_espera) || 0,\n    tiempo_medio_atencion: Number(data.tiempo_medio_atencion) || 0,\n    tiempo_medio_total: Number(data.tiempo_medio_total) || 0,\n    \n    // Contadores hora - el simulador envía \"pacientes_atendidos_hora\" y \"pacientes_llegados_hora\"\n    pacientes_atendidos_hora: Math.round(Number(data.pacientes_atendidos_hora) || 0),\n    pacientes_llegados_hora: Math.round(Number(data.pacientes_llegados_hora) || 0),\n    pacientes_derivados: Math.round(Number(data.pacientes_derivados) || 0),\n    \n    // Saturación\n    nivel_saturacion: Number(data.nivel_saturacion) || 0,\n    emergencia_activa: data.emergencia_activa ? 1 : 0\n};\n\nconst ocupacion = Math.round((data.ocupacion_boxes || 0) * 100);\nlet color = \"green\";\nif (ocupacion > 70) color = \"yellow\";\nif (ocupacion > 85) color = \"red\";\nnode.status({fill: color, shape:\"dot\", text: hospital + \": \" + ocupacion + \"% (\" + msg.payload.boxes_ocupados + \"/\" + msg.payload.boxes_totales + \")\"});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 320,
        "wires": [
            [
                "influx_stats",
                "debug_stats"
            ]
        ]
    },
    {
        "id": "debug_stats",
        "type": "debug",
        "z": "flow_principal",
        "name": "Debug Stats",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "influx_stats",
        "type": "influxdb out",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "InfluxDB Stats",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "urgencias",
        "bucket": "hospitales",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "comment_coordinador",
        "type": "comment",
        "z": "flow_principal",
        "name": "──── COORDINADOR CENTRAL ────",
        "info": "",
        "x": 170,
        "y": 420,
        "wires": []
    },
    {
        "id": "mqtt_coordinador_estado",
        "type": "mqtt in",
        "z": "flow_principal",
        "name": "Estado Coordinador",
        "topic": "urgencias/coordinador/estado",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 480,
        "wires": [
            [
                "parse_coordinador"
            ]
        ]
    },
    {
        "id": "parse_coordinador",
        "type": "function",
        "z": "flow_principal",
        "name": "Parsear Coordinador",
        "func": "const data = msg.payload;\n\nmsg.measurement = \"coordinador\";\nmsg.payload = {\n    emergencia_activa: data.emergencia_activa ? 1 : 0,\n    tipo_emergencia: String(data.tipo_emergencia || \"ninguna\"),\n    derivaciones_totales: Number(data.derivaciones_totales) || 0,\n    minutos_ahorrados: Number(data.minutos_ahorrados) || 0,\n    alertas_emitidas: Number(data.alertas_emitidas) || 0\n};\n\nif (data.emergencia_activa) {\n    node.status({fill:\"red\", shape:\"ring\", text: \"EMERGENCIA: \" + data.tipo_emergencia});\n} else {\n    node.status({fill:\"green\", shape:\"dot\", text: \"Derivaciones: \" + msg.payload.derivaciones_totales});\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 480,
        "wires": [
            [
                "influx_coordinador"
            ]
        ]
    },
    {
        "id": "influx_coordinador",
        "type": "influxdb out",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "InfluxDB Coordinador",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "urgencias",
        "bucket": "hospitales",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "mqtt_alertas",
        "type": "mqtt in",
        "z": "flow_principal",
        "name": "Alertas",
        "topic": "urgencias/coordinador/alertas",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 540,
        "wires": [
            [
                "parse_alertas"
            ]
        ]
    },
    {
        "id": "parse_alertas",
        "type": "function",
        "z": "flow_principal",
        "name": "Parsear Alertas",
        "func": "const data = msg.payload;\n\nmsg.measurement = \"alertas\";\nmsg.payload = {\n    tipo: String(data.tipo || \"desconocido\"),\n    nivel: String(data.nivel || \"info\"),\n    hospital: String(data.hospital_id || \"sistema\"),\n    mensaje: String(data.mensaje || \"\"),\n    valor: 1\n};\n\nlet color = \"blue\";\nif (data.nivel === \"warning\") color = \"yellow\";\nif (data.nivel === \"critical\") color = \"red\";\nnode.status({fill: color, shape:\"ring\", text: data.tipo + \" - \" + (data.hospital_id || \"sistema\")});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 540,
        "wires": [
            [
                "influx_alertas",
                "notificar_alerta"
            ]
        ]
    },
    {
        "id": "influx_alertas",
        "type": "influxdb out",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "InfluxDB Alertas",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "urgencias",
        "bucket": "hospitales",
        "x": 550,
        "y": 540,
        "wires": []
    },
    {
        "id": "notificar_alerta",
        "type": "function",
        "z": "flow_principal",
        "name": "Filtrar Críticas",
        "func": "// Solo pasar alertas críticas\nif (msg.payload.nivel === \"critical\") {\n    const mensaje = \"🚨 ALERTA CRÍTICA [\" + msg.payload.hospital + \"]: \" + msg.payload.mensaje;\n    msg.payload = mensaje;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 600,
        "wires": [
            [
                "log_criticas"
            ]
        ]
    },
    {
        "id": "log_criticas",
        "type": "debug",
        "z": "flow_principal",
        "name": "⚠️ Alertas Críticas",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 600,
        "wires": []
    },
    {
        "id": "comment_recursos",
        "type": "comment",
        "z": "flow_principal",
        "name": "──── RECURSOS POR HOSPITAL ────",
        "info": "",
        "x": 180,
        "y": 660,
        "wires": []
    },
    {
        "id": "mqtt_recursos",
        "type": "mqtt in",
        "z": "flow_principal",
        "name": "Recursos Boxes",
        "topic": "urgencias/+/recursos/boxes",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 720,
        "wires": [
            [
                "parse_recursos"
            ]
        ]
    },
    {
        "id": "parse_recursos",
        "type": "function",
        "z": "flow_principal",
        "name": "Parsear Recursos",
        "func": "const parts = msg.topic.split('/');\nconst hospital = parts[1].toLowerCase();\nconst data = msg.payload;\n\n// Calcular disponibles y porcentaje desde los datos del simulador\nconst ocupados = Number(data.ocupados) || 0;\nconst totales = Number(data.totales) || 0;\nconst disponibles = totales - ocupados;\nconst porcentaje = totales > 0 ? (ocupados / totales) * 100 : 0;\n\nmsg.measurement = \"recursos_\" + hospital;\nmsg.payload = {\n    tipo_recurso: \"boxes\",\n    ocupados: ocupados,\n    totales: totales,\n    disponibles: disponibles,\n    porcentaje: porcentaje,\n    en_cola: Number(data.en_cola) || 0\n};\n\nnode.status({fill:\"blue\", shape:\"dot\", text: hospital + \": \" + ocupados + \"/\" + totales});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 720,
        "wires": [
            [
                "influx_recursos"
            ]
        ]
    },
    {
        "id": "influx_recursos",
        "type": "influxdb out",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "InfluxDB Recursos",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "urgencias",
        "bucket": "hospitales",
        "x": 550,
        "y": 720,
        "wires": []
    },
    {
        "id": "comment_dashboard",
        "type": "comment",
        "z": "flow_principal",
        "name": "──── PANEL DE ESTADO ────",
        "info": "",
        "x": 160,
        "y": 800,
        "wires": []
    },
    {
        "id": "inject_status",
        "type": "inject",
        "z": "flow_principal",
        "name": "Cada 10s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 860,
        "wires": [
            [
                "query_estado"
            ]
        ]
    },
    {
        "id": "query_estado",
        "type": "influxdb in",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "Query Estado Actual",
        "query": "from(bucket: \"hospitales\")\n  |> range(start: -5m)\n  |> filter(fn: (r) => r._measurement =~ /^stats_/)\n  |> filter(fn: (r) => r._field == \"nivel_saturacion\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "urgencias",
        "x": 350,
        "y": 860,
        "wires": [
            [
                "procesar_estado"
            ]
        ]
    },
    {
        "id": "procesar_estado",
        "type": "function",
        "z": "flow_principal",
        "name": "Procesar Estado",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n    node.status({fill:\"grey\", shape:\"ring\", text: \"Sin datos\"});\n    return null;\n}\n\nlet resumen = \"\";\nmsg.payload.forEach(row => {\n    // Extraer hospital del measurement (stats_chuac -> chuac)\n    const measurement = row._measurement || \"\";\n    const hospital = measurement.replace(\"stats_\", \"\").toUpperCase();\n    const saturacion = Math.round((row._value || 0) * 100);\n    resumen += hospital + \": \" + saturacion + \"% | \";\n});\n\nnode.status({fill:\"blue\", shape:\"dot\", text: resumen.slice(0, -3)});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "comment_prediccion",
        "type": "comment",
        "z": "flow_principal",
        "name": "──── PREDICCIONES (DÍA 4) ────",
        "info": "Recibe predicciones del servicio de predicción",
        "x": 170,
        "y": 940,
        "wires": []
    },
    {
        "id": "mqtt_prediccion",
        "type": "mqtt in",
        "z": "flow_principal",
        "name": "Predicciones",
        "topic": "urgencias/+/prediccion",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1000,
        "wires": [
            [
                "parse_prediccion"
            ]
        ]
    },
    {
        "id": "parse_prediccion",
        "type": "function",
        "z": "flow_principal",
        "name": "Parsear Predicción",
        "func": "const parts = msg.topic.split('/');\nconst hospital = parts[1].toLowerCase();\nconst data = msg.payload;\n\nif (!data.predicciones || !Array.isArray(data.predicciones)) {\n    return null;\n}\n\n// Guardar en alertas_prediccion con tipo 'prediccion'\ndata.predicciones.forEach(pred => {\n    const newMsg = RED.util.cloneMessage(msg);\n    newMsg.measurement = \"alertas_prediccion\";\n    newMsg.payload = {\n        tipo: \"prediccion\",\n        hospital: hospital,\n        llegadas_esperadas: Number(pred.llegadas_esperadas) || 0,\n        minimo: Number(pred.minimo) || 0,\n        maximo: Number(pred.maximo) || 0,\n        hora: Number(pred.hora) || 0,\n        z_score: 0\n    };\n    newMsg.timestamp = new Date(pred.timestamp);\n    node.send(newMsg);\n});\n\nnode.status({fill:\"purple\", shape:\"dot\", text: hospital + \": \" + data.predicciones.length + \" predicciones\"});\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1000,
        "wires": [
            [
                "influx_alerta_pred"
            ]
        ]
    },
    {
        "id": "debug_prediccion",
        "type": "debug",
        "z": "flow_principal",
        "name": "Debug Predicción",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 960,
        "wires": []
    },
    {
        "id": "influx_prediccion",
        "type": "influxdb out",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "InfluxDB Predicción",
        "measurement": "predicciones",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "urgencias",
        "bucket": "hospitales",
        "x": 560,
        "y": 1000,
        "wires": []
    },
    {
        "id": "mqtt_alertas_prediccion",
        "type": "mqtt in",
        "z": "flow_principal",
        "name": "Alertas Predicción",
        "topic": "urgencias/prediccion/alertas",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "parse_alerta_pred"
            ]
        ]
    },
    {
        "id": "parse_alerta_pred",
        "type": "function",
        "z": "flow_principal",
        "name": "Parsear Alerta Pred",
        "func": "const data = msg.payload;\n\n// Guardar alerta en alertas_prediccion\nmsg.measurement = \"alertas_prediccion\";\nmsg.payload = {\n    tipo: String(data.tipo || \"anomalia\"),\n    nivel: String(data.nivel || \"warning\"),\n    mensaje: String(data.mensaje || \"\"),\n    hospital: String(data.hospital || \"sistema\"),\n    z_score: Number(data.z_score) || 0,\n    valor: 1\n};\n\nlet color = \"yellow\";\nif (data.nivel === \"critical\") color = \"red\";\nnode.status({fill: color, shape:\"ring\", text: data.tipo + \": \" + (data.hospital || \"regional\")});\n\n// También mostrar en debug si es crítico\nif (data.nivel === \"critical\") {\n    node.warn(\"🔮 ALERTA PREDICCIÓN: \" + data.mensaje);\n}\n\n// Si hay z_score y hospital, crear entrada adicional en 'anomalias'\nif (data.z_score && data.hospital) {\n    const anomaliaMsg = {\n        measurement: \"anomalias\",\n        payload: {\n            hospital: String(data.hospital),\n            z_score: Number(data.z_score),\n            detectada: 1,\n            tipo: String(data.tipo || \"anomalia\")\n        }\n    };\n    return [msg, anomaliaMsg];\n}\n\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "influx_alerta_pred"
            ],
            [
                "influx_anomalia"
            ]
        ]
    },
    {
        "id": "influx_alerta_pred",
        "type": "influxdb out",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "InfluxDB Alerta Pred",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "urgencias",
        "bucket": "hospitales",
        "x": 570,
        "y": 1040,
        "wires": []
    },
    {
        "id": "influx_anomalia",
        "type": "influxdb out",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "InfluxDB Anomalía",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "urgencias",
        "bucket": "hospitales",
        "x": 570,
        "y": 1080,
        "wires": []
    },
    {
        "id": "influxdb_config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "",
        "name": "InfluxDB Urgencias",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": false,
        "token": "mi-token-secreto-urgencias-dt",
        "org": "urgencias",
        "bucket": "hospitales"
    }
]
