backend/nodered/flows.json
[
    {
        "id": "flow_principal",
        "type": "tab",
        "label": "Gemelo Digital - Kafka",
        "disabled": false,
        "info": "Flujo principal del Gemelo Digital Hospitalario con Kafka"
    },
    {
        "id": "kafka_broker",
        "type": "kafka-broker",
        "name": "Kafka Urgencias",
        "hosts": "kafka:9092",
        "usetls": false,
        "cacert": "",
        "clientcert": "",
        "privatekey": "",
        "passphrase": "",
        "selfsign": false
    },
    {
        "id": "influxdb_config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "name": "InfluxDB Urgencias",
        "usetls": false,
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "token": "mi-token-secreto-urgencias-dt",
        "org": "urgencias",
        "bucket": "urgencias"
    },
    {
        "id": "comment_header",
        "type": "comment",
        "z": "flow_principal",
        "name": "GEMELO DIGITAL HOSPITALARIO - KAFKA",
        "info": "Sistema de integracion Kafka -> InfluxDB\n\nTopics:\n- patient-arrivals\n- triage-results\n- consultation-events\n- hospital-stats\n- diversion-alerts\n- system-context",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "comment_arrivals",
        "type": "comment",
        "z": "flow_principal",
        "name": "---- LLEGADAS DE PACIENTES ----",
        "x": 180,
        "y": 100,
        "wires": []
    },
    {
        "id": "kafka_arrivals",
        "type": "kafka-consumer",
        "z": "flow_principal",
        "name": "Patient Arrivals",
        "broker": "kafka_broker",
        "topic": "patient-arrivals",
        "groupId": "nodered-arrivals",
        "autoCommit": true,
        "autoCommitInterval": 5000,
        "fetchMaxBytes": 1048576,
        "x": 130,
        "y": 160,
        "wires": [["parse_arrival"]]
    },
    {
        "id": "parse_arrival",
        "type": "function",
        "z": "flow_principal",
        "name": "Parsear Llegada",
        "func": "let raw = msg.payload.value || msg.payload;\nlet data = (typeof raw === 'string') ? JSON.parse(raw) : raw;\n\nmsg.measurement = \"llegadas_pacientes\";\nmsg.payload = {\n    hospital: String(data.hospital_id || \"\"),\n    patologia: String(data.patologia || \"\"),\n    edad: Number(data.edad) || 0,\n    sexo: String(data.sexo || \"\"),\n    factor_demanda: Number(data.factor_demanda) || 1.0,\n    valor: 1\n};\n\nnode.status({fill:\"green\", shape:\"dot\", text: data.hospital_id + \" - \" + data.patologia});\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 160,
        "wires": [["influx_arrivals"]]
    },
    {
        "id": "influx_arrivals",
        "type": "influxdb out",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "InfluxDB Llegadas",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "urgencias",
        "bucket": "urgencias",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "comment_triage",
        "type": "comment",
        "z": "flow_principal",
        "name": "---- RESULTADOS DE TRIAJE ----",
        "x": 180,
        "y": 220,
        "wires": []
    },
    {
        "id": "kafka_triage",
        "type": "kafka-consumer",
        "z": "flow_principal",
        "name": "Triage Results",
        "broker": "kafka_broker",
        "topic": "triage-results",
        "groupId": "nodered-triage",
        "x": 120,
        "y": 280,
        "wires": [["parse_triage"]]
    },
    {
        "id": "parse_triage",
        "type": "function",
        "z": "flow_principal",
        "name": "Parsear Triaje",
        "func": "let raw = msg.payload.value || msg.payload; let data = (typeof raw === 'string') ? JSON.parse(raw) : raw;\n\nmsg.measurement = \"triajes\";\nmsg.payload = {\n    hospital: String(data.hospital_id || \"\"),\n    nivel_triaje: String(data.nivel_triaje || \"\"),\n    box_id: Number(data.box_id) || 0,\n    tiempo_triaje: Number(data.tiempo_triaje_minutos) || 0,\n    requiere_derivacion: data.requiere_derivacion ? 1 : 0,\n    valor: 1\n};\n\nlet color = \"green\";\nif (data.nivel_triaje === \"rojo\") color = \"red\";\nelse if (data.nivel_triaje === \"naranja\") color = \"orange\";\nelse if (data.nivel_triaje === \"amarillo\") color = \"yellow\";\n\nnode.status({fill: color, shape:\"dot\", text: data.hospital_id + \" - \" + data.nivel_triaje});\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 280,
        "wires": [["influx_triage"]]
    },
    {
        "id": "influx_triage",
        "type": "influxdb out",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "InfluxDB Triajes",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "urgencias",
        "bucket": "urgencias",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "comment_stats",
        "type": "comment",
        "z": "flow_principal",
        "name": "---- ESTADISTICAS HOSPITALES ----",
        "x": 190,
        "y": 340,
        "wires": []
    },
    {
        "id": "kafka_stats",
        "type": "kafka-consumer",
        "z": "flow_principal",
        "name": "Hospital Stats",
        "broker": "kafka_broker",
        "topic": "hospital-stats",
        "groupId": "nodered-stats",
        "x": 120,
        "y": 400,
        "wires": [["parse_stats"]]
    },
    {
        "id": "parse_stats",
        "type": "function",
        "z": "flow_principal",
        "name": "Parsear Stats",
        "func": "let raw = msg.payload.value || msg.payload;\nlet data = (typeof raw === 'string') ? JSON.parse(raw) : raw;\nconst hospital = String(data.hospital_id || \"\");\n\nmsg.measurement = \"stats_\" + hospital;\nmsg.payload = {\n    boxes_ocupados: Number(data.boxes_ocupados) || 0,\n    boxes_totales: Number(data.boxes_totales) || 0,\n    consultas_ocupadas: Number(data.consultas_ocupadas) || 0,\n    consultas_totales: Number(data.consultas_totales) || 0,\n    cola_triaje: Number(data.cola_triaje) || 0,\n    cola_consulta: Number(data.cola_consulta) || 0,\n    saturacion_global: Number(data.saturacion_global) || 0,\n    tiempo_medio_espera_triaje: Number(data.tiempo_medio_espera_triaje) || 0,\n    tiempo_medio_espera_consulta: Number(data.tiempo_medio_espera_consulta) || 0,\n    tiempo_medio_total: Number(data.tiempo_medio_total) || 0,\n    pacientes_atendidos_hora: Number(data.pacientes_atendidos_hora) || 0,\n    emergencia_activa: data.emergencia_activa ? 1 : 0\n};\n\nconst saturacion = Math.round((data.saturacion_global || 0) * 100);\nlet color = \"green\";\nif (saturacion > 70) color = \"yellow\";\nif (saturacion > 85) color = \"red\";\n\nnode.status({fill: color, shape:\"dot\", text: hospital + \": \" + saturacion + \"%\"});\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 400,
        "wires": [["influx_stats"]]
    },
    {
        "id": "influx_stats",
        "type": "influxdb out",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "InfluxDB Stats",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "urgencias",
        "bucket": "urgencias",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "comment_diversions",
        "type": "comment",
        "z": "flow_principal",
        "name": "---- DERIVACIONES ----",
        "x": 150,
        "y": 460,
        "wires": []
    },
    {
        "id": "kafka_diversions",
        "type": "kafka-consumer",
        "z": "flow_principal",
        "name": "Diversion Alerts",
        "broker": "kafka_broker",
        "topic": "diversion-alerts",
        "groupId": "nodered-diversions",
        "x": 130,
        "y": 520,
        "wires": [["parse_diversion"]]
    },
    {
        "id": "parse_diversion",
        "type": "function",
        "z": "flow_principal",
        "name": "Parsear Derivacion",
        "func": "let raw = msg.payload.value || msg.payload;\nlet data = (typeof raw === 'string') ? JSON.parse(raw) : raw;\n\nmsg.measurement = \"derivaciones\";\nmsg.payload = {\n    hospital_origen: String(data.hospital_origen || \"\"),\n    hospital_destino: String(data.hospital_destino || \"\"),\n    motivo: String(data.motivo || \"\"),\n    nivel_triaje: String(data.nivel_triaje || \"\"),\n    tiempo_traslado: Number(data.tiempo_estimado_traslado) || 0,\n    valor: 1\n};\n\nnode.status({fill:\"purple\", shape:\"dot\", text: data.hospital_origen + \" -> \" + data.hospital_destino});\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 520,
        "wires": [["influx_diversions"]]
    },
    {
        "id": "influx_diversions",
        "type": "influxdb out",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "InfluxDB Derivaciones",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "urgencias",
        "bucket": "urgencias",
        "x": 570,
        "y": 520,
        "wires": []
    },
    {
        "id": "comment_context",
        "type": "comment",
        "z": "flow_principal",
        "name": "---- CONTEXTO SISTEMA ----",
        "x": 160,
        "y": 580,
        "wires": []
    },
    {
        "id": "kafka_context",
        "type": "kafka-consumer",
        "z": "flow_principal",
        "name": "System Context",
        "broker": "kafka_broker",
        "topic": "system-context",
        "groupId": "nodered-context",
        "x": 130,
        "y": 640,
        "wires": [["parse_context"]]
    },
    {
        "id": "parse_context",
        "type": "function",
        "z": "flow_principal",
        "name": "Parsear Contexto",
        "func": "let raw = msg.payload.value || msg.payload;\nlet data = (typeof raw === 'string') ? JSON.parse(raw) : raw;\n\nmsg.measurement = \"contexto_sistema\";\nmsg.payload = {\n    temperatura: Number(data.temperatura) || 0,\n    lluvia_mm: Number(data.lluvia_mm) || 0,\n    factor_clima: Number(data.factor_clima) || 1.0,\n    factor_evento: Number(data.factor_evento) || 1.0,\n    factor_total: Number(data.factor_total) || 1.0,\n    es_festivo: data.es_festivo ? 1 : 0\n};\n\nconst factor = msg.payload.factor_total.toFixed(2);\nlet color = \"green\";\nif (msg.payload.factor_total > 1.2) color = \"yellow\";\nif (msg.payload.factor_total > 1.5) color = \"red\";\n\nnode.status({fill: color, shape:\"dot\", text: \"Factor: \" + factor + \"x\"});\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 640,
        "wires": [["influx_context"]]
    },
    {
        "id": "influx_context",
        "type": "influxdb out",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "InfluxDB Contexto",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "urgencias",
        "bucket": "urgencias",
        "x": 560,
        "y": 640,
        "wires": []
    },
    {
        "id": "comment_consultation",
        "type": "comment",
        "z": "flow_principal",
        "name": "---- EVENTOS CONSULTA ----",
        "x": 170,
        "y": 700,
        "wires": []
    },
    {
        "id": "kafka_consultation",
        "type": "kafka-consumer",
        "z": "flow_principal",
        "name": "Consultation Events",
        "broker": "kafka_broker",
        "topic": "consultation-events",
        "groupId": "nodered-consultation",
        "x": 140,
        "y": 760,
        "wires": [["parse_consultation"]]
    },
    {
        "id": "parse_consultation",
        "type": "function",
        "z": "flow_principal",
        "name": "Parsear Consulta",
        "func": "let raw = msg.payload.value || msg.payload;\nlet data = (typeof raw === 'string') ? JSON.parse(raw) : raw;\n\nif (data.event_type !== \"fin\") return null;\n\nmsg.measurement = \"consultas\";\nmsg.payload = {\n    hospital: String(data.hospital_id || \"\"),\n    consulta_id: Number(data.consulta_id) || 0,\n    nivel_triaje: String(data.nivel_triaje || \"\"),\n    medicos: Number(data.medicos_atendiendo) || 1,\n    tiempo_consulta: Number(data.tiempo_consulta_minutos) || 0,\n    destino: String(data.destino || \"\"),\n    valor: 1\n};\n\nnode.status({fill:\"blue\", shape:\"dot\", text: data.hospital_id + \" C\" + data.consulta_id + \" -> \" + data.destino});\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 760,
        "wires": [["influx_consultation"]]
    },
    {
        "id": "influx_consultation",
        "type": "influxdb out",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "InfluxDB Consultas",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "urgencias",
        "bucket": "urgencias",
        "x": 570,
        "y": 760,
        "wires": []
    },
    {
        "id": "comment_capacity",
        "type": "comment",
        "z": "flow_principal",
        "name": "---- CAMBIOS DE CAPACIDAD ----",
        "x": 180,
        "y": 820,
        "wires": []
    },
    {
        "id": "kafka_capacity",
        "type": "kafka-consumer",
        "z": "flow_principal",
        "name": "Capacity Changes",
        "broker": "kafka_broker",
        "topic": "capacity-change",
        "groupId": "nodered-capacity",
        "x": 140,
        "y": 880,
        "wires": [["parse_capacity"]]
    },
    {
        "id": "parse_capacity",
        "type": "function",
        "z": "flow_principal",
        "name": "Parsear Capacidad",
        "func": "let raw = msg.payload.value || msg.payload;\nlet data = (typeof raw === 'string') ? JSON.parse(raw) : raw;\n\nmsg.measurement = \"cambios_capacidad\";\nmsg.payload = {\n    hospital: String(data.hospital_id || \"\"),\n    consulta_id: Number(data.consulta_id) || 0,\n    medicos_previos: Number(data.medicos_previos) || 1,\n    medicos_nuevos: Number(data.medicos_nuevos) || 1,\n    velocidad_nueva: Number(data.velocidad_nueva) || 1.0,\n    motivo: String(data.motivo || \"\"),\n    valor: 1\n};\n\nconst cambio = data.medicos_nuevos > data.medicos_previos ? \"UP\" : \"DOWN\";\nnode.status({fill:\"cyan\", shape:\"dot\", text: \"C\" + data.consulta_id + \": \" + data.medicos_previos + \" -> \" + data.medicos_nuevos + \" (\" + cambio + \")\"});\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 880,
        "wires": [["influx_capacity"]]
    },
    {
        "id": "influx_capacity",
        "type": "influxdb out",
        "z": "flow_principal",
        "influxdb": "influxdb_config",
        "name": "InfluxDB Capacidad",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "urgencias",
        "bucket": "urgencias",
        "x": 570,
        "y": 880,
        "wires": []
    }
]
